.line-change {
  width: 100%;
  height: 10px;
}
.empty {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 26px;
  border: 2px solid #00b6c0;
  border-radius: 8px;
  background: #e8e7e7;
  top: 8px;
}
.text-block {
  cursor: pointer;
  border-radius: 8px;
  background: #19191b;
  color: #ffffff;
  list-style-type: none;
  padding: 0 20px;
  height: 26px;
}
.drag-start {
  opacity: 50%;
}

.line-number {
  position: relative;
  margin-right: 20px;
  color: gray;
}
